<h1>Log In</h1>
<p>Use the form below to log in to your user account.</p>
<%= form_for(:session, url: login_path) do |f| %>
    <%= f.label :email %>
    <%= f.email_field :email, class: 'form-control', placeholder: "Email Address" %>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control', placeholder: " Password" %><br/>
    <%= f.submit "Log in", class: "btn btn-primary" %>

<% end %>
    <%= link_to 'Sign Up', signup_path %>
