<% content_for :title, @user.name %>
<h1><%= @user.get_styled_name %></h1>
<% if @user.admin %>
  <h2 class="admin">This user has access to administrative privileges</h2>
<% end %>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
<strong>Created at:</strong>
<%=@user.created_at%>
</p>

<p>
<strong>Phone:</strong>
<%= @user.phone if @user.phone%>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', root_path %>

<% if @user = current_user%>
  <%= link_to "Log out", logout_path, method: :delete %>
<% end %>
