<div id="plant-<%= plant.id %>" class="checklist hide">  
    <%= form_with(model: plant, local: true) do |form| %>
        <hr>
        <h4><%= plant.name %> Checklist</h4>
            
        <%= form.label :watered %> <%= form.check_box :watered, { disabled: plant.watered } %><br>
        <%= form.label :sunlight %> <%= form.check_box :sunlight, { disabled: plant.sunlight }%><br>
        <%= form.label :trimmed %> <%= form.check_box :trimmed, { disabled: plant.trimmed } %>

        <div class="actions">
            <%= form.submit "Update Plant", { disabled: plant.watered&&plant.sunlight&&plant.trimmed } %>
        </div>
        
    <% end %>
</div>