<% # Until an admin account is made, load the _noadmin page
   # After that, if user is logged in, then load the _loggedin page, or else load the _loggedout page 
%>
   <h1>Dashboard</h1>
<% link_to 'New Plant', plants_path%>
<%= collection_select(:plant, :plant_id, @plants.order(:created_at), :id, :name, { selected: @plants.first }, { onchange: "change_plant(this)", :selected => @plants.first }) %>
<script>document.getElementById("plant_plant_id").selectedIndex = 0;</script>
<hr>
<% @plants.order(:created_at).each do |current_plant| %>
   <div id="plant-<%= current_plant.id %>" class="dashboard-plant-info <% if current_plant != @plants.first %> hide <% end %>">
      <%= render "weather_summary", plant: current_plant %> 
      <div class="center-dashboard">MAIN SECTION</div>
	  <%= link_to current_plant.name, current_plant %>
	  <br>
	  <% if current_plant.plant_pic.attached? %>
		<%= image_tag current_plant.plant_pic, size: "75" %>
	  <% end %>
	  
      <%= render "checklist", plant: current_plant %>
      <div class="clear-floats"></div>
   </div> 
<% end %>



