<% # Until an admin account is made, load the _noadmin page
   # After that, if user is logged in, then load the _loggedin page, or else load the _loggedout page 
%>
   <h1>You are logged in to the plant monitor web server</h1>
   <h2>Welcome back, <%= current_user.get_styled_name %></h2>
   <% if current_user.admin %>
      <h3 class="admin">Administrative privileges enabled.</h3>
   <% end %>
<% if @plants%>
   <% @plants.order('created_at desc').each do |plant| %>
      <%= link_to plant.name, plant %>
      <%= time_ago_in_words(plant.created_at) %>
      <hr>
   <% end %>
<% end %>
<% link_to 'New Plant', plants_path%>
<%= collection_select(:plant, :plant_id, @plants.all, :id, :name, { prompt: true } , { onchange: "change_plant(this)", :selected => @plants[0] }) %>
<% @plants.all.each do |current_plant| %>
   <%= render "checklist", plant: current_plant %>
<% end %>
<%# <%= render weather_summary%> 


