<%= form_with(model: plant, local: true) do |form| %>
  <% if plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
        <% plant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :location %>
    <%= form.text_field :location %>
  </div>

  <div class="field">
    <%= form.label :species %>
    <%= form.text_field :species %>
  </div>

  <div class="field">
    <%= form.label :water_level, "Water Level (Ml per day)" %> 
    <%= form.number_field(:water_level, in:0.0..1000.0, step: 0.5) %>
  </div>

  <div class="field">
    <%= form.label :sun_time, "Sun Time (Hours per day)" %>
    <%= form.number_field(:sun_time, in:0.0..23.59, step: 0.5) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
