<%= form_with(model: plant) do |form| %>
  <% if plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
        <% plant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
<%# Calls Method in Assests/JS with #loc-field %>
  <div class="field location_field">
    <%= form.label  "Search Location" %>
    <%= form.text_field :locationName, class: "location_field", oninput: "search_locations()", autocomplete: 'off' %>
  </div>

  <div class="field species_field">
    <%= form.label :species %>
    <%= form.text_field :species, class: "species_field", oninput: "search_species()", autocomplete: 'off' %>
  </div>

  <div class = "field species_water">
    <%= form.label "Daily water (mm)" %>
    <%= form.number_field :daily_water, in: 0..12000 %>
  </div>

  <div class = "field species_light">
<%= form.label "Daily light (lux)" %>
    <%= form.number_field :daily_light, in: 0..100000 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
