<%= form_with(model: plant) do |form| %>
  <% if plant.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plant.errors.count, "error") %> prohibited this plant from being saved:</h2>

      <ul>
        <% plant.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
<%# Calls Method in Assests/JS with #loc-field %>
  <div class="field location_field">
    <%= form.label "Search Location", class: "inline"%>
    <span class="tip-prompt" tabindex="0">?</span>
    <div class = "tooltip">
    This field will automatically suggest city names and country to select from. <br>
    Once picked, city info will be automatically filled in.<br>
    It is important to select a known location from suggestions for weather purposes.<br>
    </div><br>
    <%= form.text_field :locationName, class: "location_field", oninput: "search_locations()", autocomplete: 'off' %>
  </div>

  <div class="field species_field">
    <%= form.label :species , class: "inline" %> 
    <span class="tip-prompt" tabindex="0">?</span>
    <div class = "tooltip">
    This field will automatically suggest names of plants to select from. <br>
    Once picked, plant info will be automatically filled in to the following fields, if possible.<br>
    </div><br>
    <%= form.text_field :species, class: "species_field", oninput: "search_species()", autocomplete: 'off' %>
  </div>

  <div class = "field species_water">
    <%= form.label "Daily water (mm)", class: "inline" %>
    <span class="tip-prompt" tabindex="0">?</span>
    <div class = "tooltip">
    Represents the water needed daily for this plant to survive. <br>
    If not automatically filled, please fill.<br>
    </div><br>
    <%= form.number_field :daily_water, in: 0..12000, step: 50, id: "plant_daily_water"%>
  </div>

  <div class = "field species_light">

    <%= form.label "Outside plant?", class: "inline" %>
    <span class="tip-prompt" tabindex="0">?</span>
    <div class = "tooltip">
      This will determine whether the plant is meant to be kept outside.<br>
      Will update upon selecting a species.<br>
      If unchecked, system interprets as an inside plant (default/unknown value)
    </div><br>
    <%=form.check_box :outside, id: "outsideSet" %>
  </div>
  
  <div class = "plant picture">
	<%= form.label :plant_pic %>
    <%= form.file_field :plant_pic %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
