<% content_for :title, @plant.name %>
<h1><%= @plant.name %></h1>
<h3><%= @plant.location%></h3>
<h3><%= @plant.species%></h3>

<h1>Owned By <%= @plant.user.name %></h1>


<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', root_path %>
