<% content_for :title, @plant.name %>
<h1><%= @plant.name %></h1>
<h3>Location: <%= @plant.locationName %></h3>
<h4>Co-Ords: <%= @plant.location %></h4>
<h3>Species: <%= @plant.species %></h3>
<h3>Daily water (mm): <%= @plant.daily_water%></h3>
<h3>Daily light (lux): <%= @plant.daily_light%></h3>
<h3>Owned By: <%= @plant.user.name %></h3>
<h3>Description: <%= @plantDescription %></h3>

<% if @plant.watered == false %>
	<h3>Plant needs to be watered today!<h3>
<% else %>
	<h3>Plant is happy and watered!</h3>
<% end %>

<% if @plant.sunlight == false %>
	<h3>Plant needs some sun today!<h3>
<% else %>
	<h3>Plant is happy and has recived sunlight!</h3>
<% end %>

<% if @plant.trimmed == false %>
	<h3>Plant has not recived trimming if required.<h3>
<% else %>
	<h3>Plant has been trimmed!</h3>
<% end %>

<% if @plant.plant_pic.attached? %>
	<%= image_tag @plant.plant_pic, size: "400" %>
<% else %>
	<%= image_tag @plantImage, size: "400" %>
<% end %>
<br>
<%= link_to 'Edit', edit_plant_path(@plant) %> |
<%= link_to 'Back', root_path %>
