<% # Updates current user's last active date if logged in (methods in sessions controller) %>
<% if (logged_in?) then update_last_active end %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
    <% flash.each do |message_type, message| %>
      <%= content_tag(:div, message.html_safe, class: "alert alert-#{message_type}")%>
    <% end %>
    <%= yield %>
  </body>
</html>
